{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reddit home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
    body {
        font-family: sans-serif;
        background-color: rgb(245, 245, 245);
        font-size: 62.5%;
        color: rgb(50, 50, 50);
        margin: 0;
    }

    a {
        color: #0074D9;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    aside,
    main {
        display: block;
    }

    h3 a {
        color: rgb(50, 50, 50);
    }

    .sidebar {
        position: fixed;
        float: left;
        width: 5%;
        height: 100vh;
        background-color: rgb(66, 66, 66);
        color: rgb(251, 250, 250);
        font-size: 3rem;
        text-align: center;
        border-right: 1px solid rgb(68, 68, 68);
    }

    .sidebar p {
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
    }

    .sidebar-active {
        color: #39CCCC;
    }

    .content {
        margin-left: 10%;
        width: 80%;
        float: left;
    }

    .news {
        background-color: rgb(251, 250, 250);
        border: 1px solid rgb(240, 240, 240);
        padding: 3em;
        margin-top: 2em;
    }

    .news::after {
        content: "";
        display:table;
        clear: both;
    }

    .news-icon {
        float: left;
        color: #39CCCC;
        font-size: 4em;
        width: 80px;
    }

    .news-content {
        position: relative;
        font-size: 110%;
        float: left;
        width: 90%;
    }

    .news footer {
        position: relative;
        margin-top: 15px;
    }
    </style>
</head>
<body>
    <aside class="sidebar">
        <p class="sidebar-active"><i class="fa fa-rss"></i></p>
        <p><i class="fa fa-book"></i></p>
        <p><i class="fa fa-bank"></i></p>
    </aside>
    <main class="content">
        {% for entry in data %}
        <article class="news">
            <div class="news-icon">
                <i class="fa {{ entry.icon }}"></i>
            </div>
            <div class="news-content">
                <header>
                    <h3><a href="{{ entry.comms_url }}" target="_blank">
                        {{ entry.title }}
                    </a></h3>
                </header>
                <div>
                    {% if entry.text %}
                    <p>{{ entry.text }}</p>
                    {% endif %}

                    <p><a href="{{ entry.url }}" target="_blank">
                    {{ entry.url }}</a></p>
                </div>
                <footer>
                    <p><i class="fa fa-home"></i> {{ entry.source }}</p>
                    <p><i class="fa fa-thumbs-up"></i> {{ entry.score }}</p>
                    <p><i class="fa fa-comments"></i> {{ entry.comms }}</p>
                </footer>
            </div>
        </article>
        {% endfor %}
    </main>
</body>
</html>
